
<div class="image1">
<img src="assets/1.png">
<p>ー自分色を見つけようー</p>
</div>

<div class="happy">
<P>color<br> me happy</p>
</div>



<br>
<div class="image3">
<img src="assets/po2.png">
</div>
<br>
<div class="image4">
<img src="assets/po.png">
</div>

<div class="judge">
 <div class="image2">
 <a href="/posts/personal.html"><img src="assets/2.png"></a>
 <p>please click me!</p>
 </div>
 <div class="judge-name">
  <span>at first</span><br>
  パーソナルカラー診断
 </div>
</div>

<li><%= link_to "ログイン", new_user_session_path %></li>