.winter {
    background-image: url("snow.jpg");
    background-size: cover;
}

.spring {
    background-image: url("sp.png");
    background-size: cover;
}

.summer {
    background-image: url("umi.png");
    background-size: cover;
}

.autumn {
    background-image: url("aki3.png");
    background-size: cover;
}


h3 {
   text-align: center;
   font-size: 60px;
   margin-top: 30px;
   color: rgb(52, 24, 24);
   opacity: 0.8;
}

.lin {
        text-align: center;
}
            
.lin a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.happy2 {
    position: absolute;
  width: 240px;
  height: 240px;
  background: #F33333;}

  .happy2 p { position: absolute;
    width: 180px;
    height: 120px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 45px;
    margin-top: 45px;
    
    color: #FEFCFC;
    }